<title>{{title}}</title>


<div>Hello!</div>
<button (click)="makeData()">Data creation</button>
<button (click)="testBtn()">Test btn</button>

<div *ngIf="dataIsReady">
    <div class="row">
        <div class="col-md-6">
            <div style="display: block;">
                <canvas baseChart width="600" height="600"
                        [datasets]="chartData"
                        [labels]="xAxisData"
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>
</div>

<!--<div style="text-align:center">-->
    <!--<h1>-->
        <!--Welcome to {{title}}!-->
    <!--</h1>-->
    <!--<div class="chat-container">-->
        <!--<div class="chat">-->
            <!--<div class="message"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="footer">-->
    <!--<div class="send-button">-->

        <!--<div class="send" (click)="sendMessage(input.value)">-->
        <!--</div>-->
        <!--<input  id="input" type="text" #input>-->
    <!--</div>-->

<!--</div>-->